extends ../dist/layout

block content
  section 
    article 
      include ../views/form

  section
    article
      include ../views/map

  //section
    article
      h2 Instructions: 
      p Enter your username to enable more features.
        